  .section-hall-2 {
    max-width: 962px;
    width: 100%;
    background-color: #EAE9EBF2;
    position: relative;
  }

  .section-hall-2::before {
    content: ''; 
    position: absolute; 
    display: block;
    width: 2px;
    height: 100%;
    background-color:#BC95D6;
    left: 62px;
}
  
  .line-2{
    position: relative; 
  }
  
  .line-2::before {
    content: ''; 
    display: block;
    position: absolute; 
    width: 2px;
    height: 95px;
    background-color:#BC95D6;
    left: -42px;
    top: -35px;
    z-index: 1;
  }

  .conf-step-wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    width: 962px;
    height: 905px;
  }

  .cul-configure {
    display: flex;
    flex-wrap: wrap;
    width: 251px;
    height: 72px;
    gap: 12px;
    margin-left: 104px;
    margin-top: 35px;
  }

  .conf-step-paragraph {
    width: 251px;
  }

  .text-paragraph {
    width: 251px;
    max-width: 826px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000
  }

  .list-2 {
    display: flex;
    width: 171px;
    height: 42px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item-2 {
    width: 90px;
    height: 46px;
  }
  
  .conf-step-selector {
    display: flex;
    width: 90px;
    height: 46px;
    border-radius: 3px;
    padding: 15.41px 23.03px 13.9px 23.1px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 8px 0px #0000003D;
  }
  
  .text-selector {
    width: 43px;
    height: 16px;
    font-weight: 900;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
  }

  .cul-places {
    display: flex;
    flex-wrap: wrap;
    width: 538px;
    gap: 12px;
    margin-left: 104px;
  }

  .conf-step-paragraph-2 {
    width: 538px;
    margin-top: 23px;
  }

  .text-paragraph-2 {
    width: 538px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color:#000000;
  }

  .conf-step-legend {
    display: flex;
    width: 538px;
    align-items: center;
    gap: 13px;
  }

  .input-group {
    display: flex;
    width: 100px;
    gap: 1.6px;
  }
  .label-rows {
    width: 56px;
  }

  .text-input {
    width: 56px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #848484;
  }
 
  .text-group{
    width: 10px;
    font-family: Consolas;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #848484;
    margin-top: 31px;
  }

  .input-rows {
    width: 100px;
    padding: 8px 8.8px 9px 8.8px;
    border: 1px solid #B7B7B7;
    color:  #757575;
  }

  .label-seats {
    width: 56px;
  }

  .input-seats {
    width: 100px;
    padding: 8px 8.8px 9px 8.8px;
    border: 1px solid #B7B7B7;
    color:  #757575;
  }

  .input-rows::-webkit-inner-spin-button,
  .input-rows::-webkit-outer-spin-button,
  .input-seats::-webkit-inner-spin-button,
  .input-seats::-webkit-outer-spin-button {
      -webkit-appearance: none; 
      margin: 0;
  }

  .cul-frame-10 {
    display: flex;
    flex-direction: column;
    width: 826px;
    gap: 11px;
    margin-left: 104px;
  }

  .conf-step-paragraph-3 {
    width: 414px;
    margin-top: 34px;

  }

  .text-paragraph-3 {
    width: 414px;
    max-width: 826px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color:#000000;
  }

  .frame-9 {
    display: flex;
    width: 826px;
    gap: 23px;
  }

  .frame-6 {
    display: flex;
    width: 154px;
  }

  .conf-step-chair {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #393939;
    background-color: #C4C4C4;
  }

  .text-chair {
    width: 128px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #848484;
  }

  .frame-7 {
    display: flex;
    width: 115px;
  }

  .conf-step-chair-2 {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #0A828A;
    background-color: #B0D6D8;
    background-image: url(../img/chair.png);
  }

  .text-chair-2 {
    width: 89px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #848484;
  }

  .frame-8 {
    display: flex;
    width: 249px;
  }

  .conf-step-chair-3 {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #C4C4C4;
  }

  .text-chair-3 {
    width: 223px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #848484;
  }

  .conf-step-hint {
    width: 100%;
    padding-right: 372px;
  }

  .text-hint {
    width: 454px;
    max-width: 826px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #848484;
  }

  .conf-step-hall{
    display: flex;
    justify-content: center;
    width: 826px;
    border: 1px solid #000000;
    padding-top: 64px;
    padding-bottom: 36px;

  }
  .hall-scheme {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 278px;
    gap: 10px;
    position: relative;
  }

  .hall-scheme::before {
    content: "Экран";
    display: block;
    position: absolute;
    width: 151px;
    height: 18px;
    max-width: 803.6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 19px;
    align-items: center;
    color:#000000;
    text-transform: uppercase;
    top: -37px;
    left: 92px;
  }
  
  .hall-row {
    display: flex;
    justify-content: center;
    width: 278px;
    height: 26px;
  }
  
  .hall-seat {
    width: 26px;
    height: 26px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }
  
  .hall-seat:hover {
    transform: scale(1.1);
  }
  
  .seat-free {
    border: 1px solid #393939; 
   }
  
  .seat-vip {
    border: 1px solid #0A828A;
    background-image: url(../img/chair.png);
  }
  
  .seat-occupied {
    border: 1px solid #ccc;
  }

  .cul-fieldset {
    display: flex;
    justify-content: center;
    width: 816px;
    padding-top: 17px;
    gap: 15px;
    margin-left: 104px;
    padding-bottom: 29.5px;
  }

  .reset-button{
    width: 121px;
    border-radius: 3px;
    padding: 11.2px 31.39px 11.9px 31.76px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 3px 0px #0000003D;
    display: flex;
    justify-content: center;
  }

  .text-reset {
    width: 58px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #63536C;
    text-transform: uppercase;
    margin: 0;
  }

  .save-button {
    width: 146px;
    border-radius: 3px;
    padding: 11.2px 32px 11.9px 32px;
    background-color: #16A6AF;
    box-shadow: 0px 3px 3px 0px #0000003D;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }

  .text-save {
    width: 82px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
  }

  @media (max-width: 768px) {
    
    .section-hall-2{
      background-color: #EAE9EBF2;
      width: 100%;
      height: 1000px;
    }

    .row-section-hall-2{
      visibility: hidden;
    }

    .row-conf-step-wrapper-2{
      visibility: hidden;
    }
    .section-hall-2::before{
      visibility: hidden;
    }
    .cul-header-directorate-section {
      display: flex;
      gap: 25px
    }
  }

  @media (max-width: 576px) {
    .row-section-hall-2 {
      visibility: visible;
    }
    .row-conf-step-wrapper-2{
      visibility: visible;
    }
    .cul-places{
      max-width: 328px;
      gap:12px;
      margin-left: 31px;
    }

    .conf-step-paragraph-2 {
      display: flex;
      max-width: 328px;
      height: 36px;
    }
    .cul-frame-10 {
      max-width: 359px;
      height: 599px;
      margin-left: 31px;
      margin-top: 31px;
    }

    .conf-step-paragraph-3{
      display: flex;
      max-width: 341px;
      height: 36px;
    }

    .frame-9 {
      max-width: 359px;
      height: 64px;
      gap: 23px;
      flex-wrap: wrap;
    }

    .conf-step-hall {
      max-width: 328px;
      height: 450px;
      padding-bottom: 0;
    }

    .cul-fieldset {
      max-width: 282px;
      height: 57px;
      gap: 15px;
      margin-left: 54px;
    }
  }