.section-hall-3 {
    max-width: 962px;
    width: 100%;
    background-color: #EAE9EBF2;
    position: relative;
  }

  .section-hall-3::before {
    content: ''; 
    position: absolute; 
    display: block;
    width: 2px;
    height: 100%;
    background-color:#BC95D6;
    left: 63px;
}
  
  .line-2{
    position: relative; 
  }
  
  .line-2::before {
    content: ''; 
    display: block;
    position: absolute; 
    width: 2px;
    height: 105px;
    background-color:#BC95D6;
    left: -42px;
    top: -37px;
    z-index: 1;
  }

  .row-conf-step-wrapper-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .cul-configure {
    display: flex;
    flex-wrap: wrap;
    width: 251px;
    gap: 12px;
    margin-left: 104px;
    margin-top: 35px;
  }

  .cul-conf-step-paragraph-4 {
    width: 816px;
    margin-left: 104px;
    margin-top: 36px;
  }

  .text-paragraph-4 {
    width: 271px;
    max-width: 826px;
    max-height: 18.4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000
  }

  .list-2 {
    display: flex;
    width: 171px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item-2 {
    width: 90px;
  }

  .list-2 .item-2 {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  
    text-align: center;
  }
  
  .list-2 .item-2:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

  .cul-price-input-group {
    display: flex;
    width: 816px;
    margin-left: 104px;
  }
  
  .price-label {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    gap:1.6px;
  }

  .text-price-2 {
    width: 74px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #848484;
    margin: 0;
  }

  .price-input {
    width: 100px;
    border: 1px solid #B7B7B7;
    padding: 8px 8.8px 9px 8.8px;
    background-color: #FFFFFF;
  }
  .price-input-2 {
    width: 74px;
    border: 1px solid #B7B7B7;
    padding: 8px 8.8px 9px 8.8px;
    background-color: #FFFFFF;
  }

  .price-input::-webkit-inner-spin-button,
  .price-input-2::-webkit-outer-spin-button,
n {
      -webkit-appearance: none; 
      margin: 0;
  }

  .text-after-price {
    width: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #848484;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
  }

  .conf-step-chair-4 {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #393939;
    background-color: #C4C4C4;
    margin-left: 6px;
    margin-top: 22px;
  }

  .conf-step-chair-5 {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #0A828A;
    background-image: url(../img/chair.png);
    background-color: #B0D6D8;
    margin-left: 6px;
    margin-top: 22px;
  }

  .text-chairs {
    width: 114px;
    margin-top: 24px;
    margin-left: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #848484;
  }


  @media(max-width: 576px) {
    .cul-configure {
      margin-left: 31px;
    }

    .section-hall-3::before {
      visibility: hidden;
    }
  }